<h1><%= @header %></h1>

<form action="/process" method="post" >
<table>
	<% if !items.nil?
		items.each do |item|%>
	<tr>
		<td><%=link_to "#{item[:name]}", "#{item[:dish]}/#{item[:menu]}/#{item[:price]}", :class=>"content-links"%></td>
		<td><%=item[:quantity]%> X <%=item[:size]==2 ? "MEDIUM" : "LARGE" %></td>
		<td>$<%=currency item[:price]%></td>
		<td>
		<% if item[:freezer]%>
			<input type="checkbox" name="defrost[<%=item[:id]%>]">thaw</input>
		<%end%>
		</td>
		<td><%=link_to "one more", "/session/update/#{item[:menu]}/#{item[:dish]}/#{item[:id]}",:class=>"checkout-button round"%></td>
		<td><%=link_to "remove", "/session/delete/#{item[:id]}", :class=>"checkout-button round"%><td>
	</tr>
	
	<%end%>
	<%end%>
	<tr>
		<td colspan="6">
			<label>Comments</label><br/>
			<textarea rows="10" cols="70" name="comment"></textarea>
		</td>
	</tr>
</table>
<input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token"/>
<input type="submit" name="proceed", value="Proceed" />
</form>