<h1><%=@dish.name%></h1>
<p><%=@dish.description%></p>
<ul>
	
<% @dish.prices(@dish.id, 'f').each do |p| %>
<li>
	<%= p.size==2 ? "Medium" : "Large" %> &nbsp;
	$<%=currency(p.price) %> &nbsp;

<a href="/session/add/<%=@dish.menu_id %>/<%=p.dish_id %>/<%=p.id%>" class="plate">
	<%if p.quantity > 0 %>
		"Add to plate" 
	<%else%>
	 <errors>N/A</errors> 
	<%end%>
</a>

	</li>
<%end%>

<%	prices = @dish.prices(@dish.id, 't')
	if !prices.nil? && prices.size > 0 %>
<li><strong>From the Freezer</strong></li>
<% prices.each do |p| %>

<li>
	<%= p.size==2 ? "Medium" : "Large" %> &nbsp;
	$<%=currency(p.price) %> &nbsp;

<a href="/session/add/<%=@dish.menu_id %>/<%=p.dish_id %>/<%=p.id%>" class="plate">
	<%if p.quantity > 0 %>
		"Add to plate" 
	<%else%>
	 <errors>N/A</errors> 
	<%end%>
</a>

	</li>
	<%end%>
<%end%>
	
</ul>
<%images = @dish.images(@dish.id)
	if !images.nil? && images.size>0
		images.each do |image|%>
		<img class="round display" src="/images/<%=image.name%>"></img>
		<%end%>
	<%end%>
