<h1><%=@dish.name%></h1>
<p><%=@dish.description%></p>
<ul>
	
<% @dish.prices(@dish.id, 'f').each do |p| %>
<li>
	<%= p.size==2 ? "Medium" : "Large" %> &nbsp;
	$<%=currency(p.price) %> &nbsp;

<a href="/session/add/<%=@dish.menu_id %>/<%=p.dish_id %>/<%=p.id%>" class="plate">
	Add to plate
</a>

	</li>
<%end%>

<% @dish.prices(@dish.id, 't').each do |p| %>
<li><strong>From the Freezer</strong></li>
<li>
	<%= p.size==2 ? "Medium" : "Large" %> &nbsp;
	$<%=currency(p.price) %> &nbsp;

<a href="/session/add/<%=@dish.menu_id %>/<%=p.dish_id %>/<%=p.id%>" class="plate">
	Add to plate
</a>

	</li>
<%end%>
	
</ul>
<%images = @dish.images(@dish.id)
	if !images.nil? && images.size>0
		images.each do |image|%>
		<img class="round display" src="/images/<%=image.name%>"></img>
		<%end%>
	<%end%>
